{% extends "dport/base.html" %}
{% block content %}
<div class="pagediv">
    <h2>Hi!</h2>
    <p>You've found the portfolio of Daniel Cohen. You can see a display of my game development <a href="work.htm">work</a>, my <a href="contact.htm">
        CV</a>, or can <a href="contact.htm">contact</a> me.</p>
        <p>I'm currently employed at Zynstra, a start-up in Bath specialising in hybrid cloud/on-premise IT systems for retail, SMB and Education. Most of my time is spent working on with Python and CouchDB to provide the web control panel for the networking, backup and on-demand VM deployment.</p>
    <p>Prior to that, I was a graduate of Loughborough University, where I studied Computer Science and achieved a First-class with Honours, while gaining experience in game development and open-source projects in my spare time.</p>
    <br />
    <div id="scTXT" class="projTXT">
        <h2>SUPERCORE</h2>
        <p>SUPERCORE are a loose collective of video game developers that I helped create with a group of friends. Various members come together for informal projects that have tended to be for game jams, often for the purpose of furthering our expertise in team-work, making games, and scope/delivery to actually ship projects.</p>
        <p>Our first few games were created in Unity, after which we transitioned to UE4.</p>
        <p>More of our projects can be found at <a href="http://supercore.itch.io">supercore.itch.io</a>.</p>
    </div>
</div>
{% endblock content %}