{% extends "dport/base.html" %}
{% load static %} 
{% block content %}
        <div class="allTiles">
            <div class="tileGroup">
                <div class="featTile">
                    <a href="#featTXT" onclick="contentToggleFEAT();">
                        {% with hover_static="dport/images/"|add:feat_proj.proj_id|add:"/"|add:feat_proj.proj_id|add:"hover.png" thumb_static="dport/images/"|add:feat_proj.proj_id|add:"/"|add:feat_proj.proj_id|add:"thumb.jpg"%}
                        <figure><img src="{% static hover_static %}" alt="pic" /><img src="{% static thumb_static %}" alt="pic" /></figure>
                        {% endwith %}
                    </a>
                </div>
            </div>
            <div class="tileGroup">
                {% for proj in projects %}
                <div class="innerTile">
                    {% with hover_static="dport/images/"|add:proj.proj_id|add:"/"|add:proj.proj_id|add:"hover.png" thumb_static="dport/images/"|add:proj.proj_id|add:"/"|add:proj.proj_id|add:"thumb.jpg"%}
                    <a href="#{{proj.proj_id}}TXT" onclick="contentToggle{{proj.proj_id|upper}}();">
                        <figure><img src="{% static thumb_static %}" alt="pic" /><img src="{% static hover_static %}" alt="pic" /></figure>
                    </a>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagediv">
        <div id="unselTXT" class="projTXT">
            <p class="centerp">Above are several of my most recent projects - click on them to find out more.</p>
        </div>
        <div id="featTXT" class="projTXT hidden">
            <div class="feattitle">
                <h2>{{feat_proj.title}}</h2>
            </div>
            <div class="projmedia">
                <a href="#feat-popup" class="open-popup-link">
                    <video autoplay loop poster="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}poster.jpg" preload="auto" class="projthumb">
                        <source src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}thumb.webm" type="video/webm">
                        <source src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}thumb.mp4" type="video/mp4" />
                    </video>
                </a>
                <div id="feat-popup" class="white-popup mfp-hide">
                    <video class="gameplayvid" loop preload="none">
                        <source src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}.webm" type="video/webm">
                        <source src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="featgallery">
                    <a class="thumbimg" href="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}2.jpg">
                        <img class="projthumb" src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}2thumb.jpg" alt="{{feat_proj.proj_id}} picture 2" />
                    </a>
                </div>
                <div class="featgallery">
                    <a class="thumbimg" href="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}3.jpg">
                        <img class="projthumb" src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}3thumb.jpg" alt="{{feat_proj.proj_id}} picture 3" />
                    </a>
                    <a class="thumbimg" href="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}4.jpg">
                        <img class="projthumb" src="img/{{feat_proj.proj_id}}/{{feat_proj.proj_id}}4thumb.jpg" alt="{{feat_proj.proj_id}} picture 4" />
                    </a>
                </div>
            </div>
            {{feat_proj.description|safe}}
        </div>
        {% for proj in projects %}
        <div id="{{proj.proj_id}}TXT" class="projTXT hidden">
            <h2>{{proj.title}}</h2>
            <div class="projmedia">
                <a href="#{{proj.proj_id}}-popup" class="open-popup-link">
                    <video autoplay loop poster="img/{{proj.proj_id}}/{{proj.proj_id}}poster.jpg" preload="auto" class="projthumb">
                        <source src="img/{{proj.proj_id}}/{{proj.proj_id}}1thumb.webm" type="video/webm">
                        <source src="img/{{proj.proj_id}}/{{proj.proj_id}}1thumb.mp4" type="video/mp4" />
                    </video>
                </a>
                <div id="{{proj.proj_id}}-popup" class="white-popup mfp-hide">
                    <video class="gameplayvid" loop preload="none">
                        <source src="img/{{proj.proj_id}}/{{proj.proj_id}}1.webm" type="video/webm">
                        <source src="img/{{proj.proj_id}}/{{proj.proj_id}}1.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="{{proj.proj_id}}gallery">
                    <a class="thumbimg" href="img/{{proj.proj_id}}/{{proj.proj_id}}2.jpg">
                        <img class="projthumb" src="img/{{proj.proj_id}}/{{proj.proj_id}}2thumb.jpg" alt="{{proj.proj_id}} Trouble 2" />
                    </a>
                </div>
                <div class="{{proj.proj_id}}gallery">
                    <a class="thumbimg" href="img/{{proj.proj_id}}/{{proj.proj_id}}3.jpg">
                        <img class="projthumb" src="img/{{proj.proj_id}}/{{proj.proj_id}}3thumb.jpg" alt="{{proj.proj_id}} Trouble 3" />
                    </a>
                    <a class="thumbimg" href="img/{{proj.proj_id}}/{{proj.proj_id}}4.jpg">
                        <img class="projthumb" src="img/{{proj.proj_id}}/{{proj.proj_id}}4thumb.jpg" alt="{{proj.proj_id}} Trouble 4" />
                    </a>
                </div>
            </div>
            {{proj.description|safe}}
        </div>
        {% endfor %}

        <div id="scTXT" class="projTXT hidden">
            <h2>SUPERCORE</h2>
            <p>More of our projects can be found at <a href="http://supercore.itch.io">supercore.itch.io</a>.</p>
            <p>SUPERCORE are a loose collective of video game developers that I helped create with a group of friends. Various members come together for informal projects that have tended to be for game jams, often for the purpose of furthering our expertise
                in making games. Our first few games were created in Unity, after which we transitioned to UE4.</p>

        </div>
    </div>
{% endblock content %}
